.u-section-1 .u-sheet-1 {
  min-height: 1231px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 61px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px 0 56px auto;
}