 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1317px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 892px;
  height: 461px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 19.5px));
  min-height: 307px;
  grid-auto-columns: calc(25% - 19.5px);
  row-gap: 26px;
  column-gap: 26px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 54px;
  height: auto;
  min-height: 252px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 253px;
    grid-gap: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 372px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 565px;
    grid-auto-columns: calc(50% - 13px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 279px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 176px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}